{% extends 'base.html.twig' %}

{% block title %}Socio index{% endblock %}

{% block body %}
    <h1>Lista de Socios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for socio in socios %}
            <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.nombre }}</td>
                <td>{{ socio.apellidos }}</td>
                <td>{{ socio.correo }}</td>
                <td>{{ socio.telefono }}</td>
                <td>{{ socio.direccion }}</td>
                <td>
                    <a href="{{ path('app_socio_show', {'id': socio.id}) }}">Ver Detalles</a>
                    |
                    <a href="{{ path('app_socio_edit', {'id': socio.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No se han encontrado socios</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="{{ path('app_socio_new') }}">Crear Nuevo Socio</a>

{% endblock %}
