{% extends 'base.html.twig' %}

{% block title %}Socio{% endblock %}

{% block body %}
    <h1>Socio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ socio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ socio.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ socio.apellidos }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ socio.correo }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ socio.telefono }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ socio.direccion }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="{{ path('app_socio_index') }}">Volver</a>
    <br>
    <a href="{{ path('app_socio_edit', {'id': socio.id}) }}">Editar</a>
    <br>
    {{ include('socio/_delete_form.html.twig') }}
{% endblock %}
