{% extends 'base.html.twig' %}

{% block title %}Ejemplar{% endblock %}

{% block body %}
    <h1>Ejemplar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ejemplar.id }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ ejemplar.estado }}</td>
            </tr>
            <tr>
                <th>Estanteria</th>
                <td>{{ ejemplar.estanteria }}</td>
            </tr>
            <tr>
                <th>Edicion</th>
                <td>{{ ejemplar.edicion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ejemplar_index') }}">Volver</a>
    <br>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_ejemplar_edit', {'id': ejemplar.id}) }}">Editar</a>
        {{ include('ejemplar/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
